.wrap {
  background-image: url("/auth-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: end;
  .content {
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-right: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
    z-index: 1;
    border-radius: 0 12px 12px 0;
  }
}
